/* General styling */
body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  /* Header */
  header {
    background-color: #181818;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px; /* Set height for the header */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* Set z-index to ensure header stays on top */
    padding: 0 20px; /* Add padding to the left and right sides */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  header h1 {
    font-weight: bold;
    font-size: 28px;
    margin: 0;
  }
  
  .navig-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navig-links li {
    margin-left: 20px;
  }
  
  .navig-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 10px;
    display: block;
  }
  
  .navig-links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  nav ul li {
    padding-top: 0.3em ;
    padding-bottom: 0.3em;
    border: 0px solid #ffffff;
    border-bottom: 2px solid rgba(255, 255, 255, .25);
    xborder-top: 1px solid rgba(255, 255, 255, .25) ;
  }
  
  nav ul li:hover {
    border-bottom: 2px solid rgba(255, 255, 255, .75);
    xborder-top: 1px solid rgba(255, 255, 255, .75) ;
  }
  /* Main content */
  main {
    margin-top: 70px; /* Add margin to top to prevent content from being hidden under header */
    padding: 20px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  .proj-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }
  
  .proj-card {
    background-color: #f9f8f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    padding: 20px;
    width: calc(33.333% - 20px);
    width: 27%;
    border-radius: 20px;
    
  }
  
  .proj-card img {
    max-width: 100%;
  }
  
  .proj-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .proj-card p {
    margin-bottom: 20px;
  }
  
  .proj-card a {
    background-color: #777575;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Add margin to top of button */
    text-decoration: none;
    border-radius: 10px;
  }
  
  .proj-card a:hover {
    background-color: #181818;
    
    
  }
  
   footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
  
